<div class="mt-3 mb-5 ml-3 text-left d-flex justify-content-between align-items-center">
  <h2>商品一覧</h2>
  <%= link_to '商品を新規登録', new_admin_item_path, class: 'btn btn-success' %>
</div>

<div class="container">
  <div class="row">
    <div class="col-10">
      <table class="table">
        <thead>
          <tr class="table-secondary">
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <th><%= item.id %></th>
            <td><%= link_to item.name, admin_item_path(item) %></td>
            <td><%= number_with_delimiter(item.price) %></td>
            <td><%= item.genre.name %></td>
            <td>
              <%= item.is_active ?
                content_tag(:span, '販売中', class: 'text-success') : 
                content_tag(:span, '販売停止中', class: 'text-secondary') 
              %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= paginate @items %>

