<div class="container">
  <div class="row">
    <div class='mx-auto col-md-2'>
      <h2>ジャンル検索</h2>
    </div>
    <div class='mx-auto col-md-10'>
      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>
    </div>
    <div class="d-flex flex-wrap">

    <h2>新着商品</h2>
    <div class="d-flex flex-wrap">
        <% @items.each do |item| %> 
          <%= link_to item_path(item.id), class: "text-decoration-none w-25" do %>
            <div class="card m-2 p-1 card-hover" style="width: 12rem;">
              <%= image_tag item.image.variant(resize_to_fill: [50, 50]), class: "card-img-top rounded shadow-sm" if item.image.attached? %>
            <div class="card-body text-body">
              <h5 class="card-title text-primary"><%= item.name %></h5>
              <p class="card-text text-primary">￥<%= item.price %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <%= link_to "全ての商品を見る ＞", items_path, style: "float: right;" %>
     </div>
  </div>
</div>
