<div class="col-2 offset-2 ">
  <h5 class="offset-2 bg-light">注文履歴詳細</h5>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <%= form_with model: @order, url: admin_order_path(@order), method: :patch, local: true do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>購入者</td>
              <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
            </tr>
            <tr>
              <td>注文日</td>
              <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <td>配送先</td>
              <td>〒<%= @order.postal_code %></td>
            </tr>
            <tr>
              <td>支払い方法</td>
              <td><%= @order.payment_method %></td>
            </tr>
            <tr>
              <td>注文ステータス</td>
              <td>
                <div class="d-flex align-items-center">
                  <%= f.select :status, Order.statuses.keys.map { |key| [I18n.t("enums.order.status.#{key}"), key] }, {}, class: "form-control" %>
                  <%= f.submit "更新", class: "btn btn-success ml-3" %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>

    <div class="col-8">
      <table>
        <thead>
          <tr class="table-secondary">
            <th>商品名</th>
            <th scope="col">単価(税込)</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
            <th scope="col">製作ステータス</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %> 
            <%= form_with model: order_detail, url: admin_order_order_detail_path(@order, order_detail), method: :patch, local: true do |f| %>
              <tr>
                <td><%= order_detail.item.name %></td>
                <td><%= (order_detail.item.price*1.1).floor.to_s(:delimited) %></td>
                <td><%= order_detail.amount %></td>
                <td><%= (order_detail.item.price*1.1*order_detail.amount).floor.to_s(:delimited) %></td>
                <td>
                  <%= f.select :making_status, OrderDetail.making_statuses.keys.map { |key| [I18n.t("enums.order_detail.making_status.#{key}"), key] }, {}, class: "form-control" %>
                </td>
                <td><%= f.submit "更新", class: "btn btn-success" %></td> 
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table> 
    </div>

    <div class="col-3">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>商品合計</td>
            <td>
              <% total = 0 %>
                <% @order.order_details.each do |order_detail| %>
                  <% if order_detail.order_id == @order.id %>
                    <% total += (order_detail.item.price*1.1*order_detail.amount).floor %>
                  <% end %>
                <% end %>
              <%= total.to_s(:delimited) %>円
            </td>
          </tr>
          <tr>
            <td>送料</td>
            <td><%= @order.shipping_cost %>円</td>
          </tr>
          <tr>
            <td>請求金額合計</td>
            <td><%= @order.total_payment.to_s(:delimited) %>円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<%# <div class="offset-1">
<%# <div class="customer_info offset-1">
<%#  <dl class="row">
<%#    <dt class="col-2">購入者</dt>
<%#    <dd class="col-10">@order.customer.last_name @order.customer</dd>
<%#    <dt class="col-2">注文日</dt>
<%#    <dd class="col-10">@order.created_at</dd>
<%#    <dt class="col-2">配送先</dt>
<%#    <dd class="col-10">〒@order.postal_code @order.address @order.address.name</dd>
<%#    <dt class="col-2">支払い方法</dt>
<%#    <dd class="col-10">@order.payment_method</dd>
<%#    <%= form_with model: @order, url: admin_order_path(@order), method: :patch, local: true do |f| %>
<%#      <dl class="row">
<%#        <dt class="col-2">注文ステータス</dt>
<%#        <dd class="col-2">
<%#          <%= f.select :status, Order.statuses.keys.map { |key| [I18n.t("activerecord.attributes.order.statuses.#{key}"), key] }, {}, class: "form-control" %>
<%#        </dd>
<%#        <div class="col-2">
<%#          <%= f.submit "更新", class: "btn btn-success" %>
<%#        </div>
<%#      </dl>
<%#    <% end %>
<%#  </div>


<%# <div class="container" style="margin: 0; padding: 0;">
<%#  <div class="d-flex flex-row">
<%#      <table class="table mx-auto col-9">
<%#        <thead>
<%#          <tr class="table-secondary">
<%#            <th>商品名</th>
<%#            <th scope="col">単価(税込)</th>
<%#            <th scope="col">数量</th>
<%#            <th class="text-break">小計</th>
<%#            <th scope="col" class="text-nowrap">製作ステータス</th>
<%#            <th scope="col"></th>
<%#          </tr>
<%#        </thead>
<%#        <tbody>
<%#          <% @order.order_details.each do |order_detail|%> 
<%#          <tr>
<%#            <td class="text-break"><%= order.detail.item.name %></td>
<%#            <td class="text-break">><%= (order_detail.item.price*1.1).floor.to_s(:delimited) %></td>
<%#            <td class="text-break"></td><%= order_detail.amount %></td>
<%#            <td class="text-break"><%= (order_detail.item.price*1.1*order_detail.amount).floor.to_s(:delimited) %></td>
<%#            <td>
<%#              <select>
<%#                <option value="">着手不可</option>
<%#                <option value="">製作中</option>
<%#                <option value="">制作完了</option>
<%#              </select>
<%#            </td>
<%#            <td><button type="button" class="btn btn-success text-nowrap">更新</button></td>
<%#          </tr>
<%#          <%# <% item_price_box << order.items.price*1.1*order.order_details.amount %> 
<%#        <% end %> 
<%#        </tbody>
<%#      </table>

<%#      <div class="right_box col-3 offset-1 d-flex align-items-end">
<%#        <dl class="row">
<%#          <dt class="col-6">商品合計</dt>
<%#          <dd class="col-6 text-right">
<%#            <% total = 0 %>
<%#            <% @order.order_details.each do |order_detail| %>
<%#              <% if order_detail.order_id == @order.id %>
<%#                <% total += (order_detail.item.price*1.1*order_detail.amount).floor %>
<%#              <% end %>
<%#            <% end %>
<%#            <%= total.to_s(:delimited) %>円
<%#          </dd>
<%#          <dt class="col-6">送料</dt>
<%#          <dd class="col-6 text-right"><%= @order.shipping_cost %>円</dd>
<%#          <dt class="col-6">請求金額合計</dt>
<%#          <dd class="col-6 text-right"><%= @order.total_payment.to_s(:delimited) %>円</dd>
<%#        </dl>
<%#    </div>
<%#  </div>
<%# </div>
<%# </div>

